.filterbox {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    overflow: hidden;

    .filter__body {
        display: flex;
        justify-content: space-between;
        border: 1px solid #00000038;
        border-radius: 15px;
        align-items: center;

        .form-group {

            padding: 30px;
            display: flex;
            flex-direction: column;

            .filter-date {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid;
            }

            select {
                height: 40px;
                padding: 0 10px;
            }
        }
    }


}