$color_1: #333;
$color_2: #3ba66b;
$color_3: #000;
$color_4: #fff;
$color_5: #ffb416;
$color_6: #1c1c1c;
$font-family_1: FontAwesome;
$background-color_1: transparent;
$background-color_2: #ffb416;
$background-color_3: #fff;

body.productpage,body.productpage-detail {
    .title-head {
        font-size: 18px;
        color: $color_1;
        text-decoration: none;

        a {
            color: $color_1;

            &:hover {
                color: $color_2;
            }
        }
    }

    section.bread-crumb {
        margin: 0;
        font-size: 14px;
        padding: 10px 0;
        border-radius: 0;
        position: relative;
        display: block;

        li {
            display: inline-block;

            >a {
                color: $color_3;

                >span {
                    color: $color_3;

                    &:hover {
                        color: $color_3;
                        text-decoration: none;
                    }

                    &:focus {
                        color: $color_3;
                        text-decoration: none;
                    }
                }

                &:hover {
                    color: $color_3;
                    text-decoration: none;
                }

                &:focus {
                    color: $color_3;
                    text-decoration: none;
                }
            }

            span {
                display: inline;
                color: $color_3;
                padding: 0 2px;
            }

            a {
                &:hover {
                    color: $color_3;
                }
            }

            strong {
                color: $color_3;
            }

            &:after {
                content: "/";
                padding: 0 5px;
                color: $color_3;
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }

        li.active {
            color: $color_3;
        }
    }

    .breadcrumb {
        >li+li {
            &:before {
                display: none;
            }
        }
    }

    .bread-crumb {
        padding: 15px 0;
        // background-image: url(/catalog/view/theme/sfresh/image/bg-breadcrumb.jpg);
        margin-bottom: 30px;
        height: 200px;
        background-size: cover;
        display: flex;
        align-items: center;

        .nd-main-title-breadcrumb {
            color: $color_3;
            font-weight: 700;
            font-size: 24px;
        }

        section.bread-crumb {
            color: $color_4;
            text-align: center;
            background-color: $background-color_1;
            font-size: 14px;

            a {
                color: $color_3;

                &:hover {
                    color: $color_5;

                    span {
                        color: $color_5;
                    }
                }

                &:focus {
                    color: $color_5;

                    span {
                        color: $color_5;
                    }
                }
            }
        }
    }

    .pagination {
        >.active {
            >a {
                z-index: 0;

                &:focus {
                    z-index: 0;
                }

                &:hover {
                    z-index: 0;
                }
            }

            >span {
                z-index: 0;

                &:focus {
                    z-index: 0;
                }

                &:hover {
                    z-index: 0;
                }
            }
        }

        margin-bottom: 20px;

        .page-link {
            float: left;
            margin: 0 3px;
            width: 36px;
            background: #f3f5f7;
            text-align: center;
            height: 36px;
            font-size: 14px;
            line-height: 36px;
            color: $color_3;
            border-radius: 50% !important;
            border: none;
            text-decoration: none;
            padding: 0;
            font-weight: 700;

            &:hover {
                background-color: $background-color_2;
                color: $color_4;
            }

            &:focus {
                background-color: $background-color_2;
                color: $color_4;
            }
        }

        .page-item.disabled {
            .page-link {
                color: $color_3;
                background: #fff;
                border: 1px solid transparent;
            }
        }

        .page-item.active {
            .page-link {
                background-color: $background-color_2;
                color: $color_4;
            }
        }
    }

    .checkbox.style {
        input {
            margin: 0 !important;
            display: none;

            &:checked+label {
                &:after {
                    content: "\f00c";
                    font-family: $font-family_1;
                    font-size: 20px;
                    color: $color_2;
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }
            }
        }

        label {
            display: inline-block;
            vertical-align: middle;
            font-weight: normal;
            text-transform: none;
            position: relative;
            padding-left: 55px;
            line-height: 50px;

            &:before {
                display: block;
                width: 35px;
                height: 35px;
                background: #fff;
                border: 1px solid #d4d4d4;
                border-radius: 5px;
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }
    }

    ol {
        list-style: decimal inside;
    }

    ul.square {
        list-style: square inside;
    }

    ul.disc {
        list-style: disc inside;
    }

    ol.alpha {
        list-style: lower-alpha inside;
    }

    .inline-list {
        li {
            display: inline-block;
            margin-bottom: 0;
        }
    }

    table {
        width: 100%;
        margin-bottom: 1em;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .table-wrap {
        max-width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    th {
        font-weight: bold;
        text-align: left;
        padding: 15px;
        border: 1px solid #e1e1e1;
        color: $color_6;
    }

    td {
        text-align: left;
        padding: 15px;
        border: 1px solid #e1e1e1;
        color: $color_6;
    }

    .table-wrapper {
        max-width: 100%;
        overflow: auto;
    }

    fieldset {
        border: 0px solid #e1e1e1;
        padding: 15px;
    }

    legend {
        border: 0;
        padding: 0;
    }

    optgroup {
        font-weight: bold;
    }

    textarea {
        min-height: 100px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    input[type="checkbox"] {
        display: inline;
        margin: 0;
        padding: 0;
    }

    input[type="radio"] {
        display: inline;
        margin: 0;
        padding: 0;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-position: right center;
        // background-image: url(/catalog/view/theme/sfresh/image/ico-selects.png);
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-color: $background-color_3 !important;
        padding-right: 28px;
        text-indent: 0.01px;
        text-overflow: '';
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }
    }

    .ie9 {
        select {
            padding-right: 10px;
            background-image: none;
        }
    }

    .lt-ie9 {
        select {
            padding-right: 10px;
            background-image: none;
        }
    }

    option {
        color: $color_3;
        background-color: $background-color_3;
    }

    .margin-0 {
        margin: 0px !important;
    }

    .margin-vertical-0 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .margin-horizontal-0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .margin-top-0 {
        margin-top: 0px !important;
    }

    .margin-bottom-0 {
        margin-bottom: 0px !important;
    }

    .margin-left-0 {
        margin-left: 0px !important;
    }

    .margin-right-0 {
        margin-right: 0px !important;
    }

    .padding-0 {
        padding: 0px !important;
    }

    .padding-vertical-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .padding-horizontal-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .padding-top-0 {
        padding-top: 0px !important;
    }

    .padding-bottom-0 {
        padding-bottom: 0px !important;
    }

    .padding-left-0 {
        padding-left: 0px !important;
    }

    .padding-right-0 {
        padding-right: 0px !important;
    }

    .margin-5 {
        margin: 5px !important;
    }

    .margin-vertical-5 {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .margin-horizontal-5 {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .margin-top-5 {
        margin-top: 5px !important;
    }

    .margin-bottom-5 {
        margin-bottom: 5px !important;
    }

    .margin-left-5 {
        margin-left: 5px !important;
    }

    .margin-right-5 {
        margin-right: 5px !important;
    }

    .padding-5 {
        padding: 5px !important;
    }

    .padding-vertical-5 {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .padding-horizontal-5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .padding-top-5 {
        padding-top: 5px !important;
    }

    .padding-bottom-5 {
        padding-bottom: 5px !important;
    }

    .padding-left-5 {
        padding-left: 5px !important;
    }

    .padding-right-5 {
        padding-right: 5px !important;
    }

    .margin-10 {
        margin: 10px !important;
    }

    .margin-vertical-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .margin-horizontal-10 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin-bottom-10 {
        margin-bottom: 10px !important;
    }

    .margin-left-10 {
        margin-left: 10px !important;
    }

    .margin-right-10 {
        margin-right: 10px !important;
    }

    .padding-10 {
        padding: 10px !important;
    }

    .padding-vertical-10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .padding-horizontal-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .padding-top-10 {
        padding-top: 10px !important;
    }

    .padding-bottom-10 {
        padding-bottom: 10px !important;
    }

    .padding-left-10 {
        padding-left: 10px !important;
    }

    .padding-right-10 {
        padding-right: 10px !important;
    }

    .margin-15 {
        margin: 15px !important;
    }

    .margin-vertical-15 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .margin-horizontal-15 {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .margin-top-15 {
        margin-top: 15px !important;
    }

    .margin-bottom-15 {
        margin-bottom: 15px !important;
    }

    .margin-left-15 {
        margin-left: 15px !important;
    }

    .margin-right-15 {
        margin-right: 15px !important;
    }

    .padding-15 {
        padding: 15px !important;
    }

    .padding-vertical-15 {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .padding-horizontal-15 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .padding-top-15 {
        padding-top: 15px !important;
    }

    .padding-bottom-15 {
        padding-bottom: 15px !important;
    }

    .padding-left-15 {
        padding-left: 15px !important;
    }

    .padding-right-15 {
        padding-right: 15px !important;
    }

    .margin-20 {
        margin: 20px !important;
    }

    .margin-vertical-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .margin-horizontal-20 {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .margin-top-20 {
        margin-top: 20px !important;
    }

    .margin-bottom-20 {
        margin-bottom: 20px !important;
    }

    .margin-left-20 {
        margin-left: 20px !important;
    }

    .margin-right-20 {
        margin-right: 20px !important;
    }

    .padding-20 {
        padding: 20px !important;
    }

    .padding-vertical-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .padding-horizontal-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .padding-top-20 {
        padding-top: 20px !important;
    }

    .padding-bottom-20 {
        padding-bottom: 20px !important;
    }

    .padding-left-20 {
        padding-left: 20px !important;
    }

    .padding-right-20 {
        padding-right: 20px !important;
    }

    .margin-25 {
        margin: 25px !important;
    }

    .margin-vertical-25 {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }

    .margin-horizontal-25 {
        margin-left: 25px !important;
        margin-right: 25px !important;
    }

    .margin-top-25 {
        margin-top: 25px !important;
    }

    .margin-bottom-25 {
        margin-bottom: 25px !important;
    }

    .margin-left-25 {
        margin-left: 25px !important;
    }

    .margin-right-25 {
        margin-right: 25px !important;
    }

    .padding-25 {
        padding: 25px !important;
    }

    .padding-vertical-25 {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }

    .padding-horizontal-25 {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .padding-top-25 {
        padding-top: 25px !important;
    }

    .padding-bottom-25 {
        padding-bottom: 25px !important;
    }

    .padding-left-25 {
        padding-left: 25px !important;
    }

    .padding-right-25 {
        padding-right: 25px !important;
    }

    .margin-30 {
        margin: 30px !important;
    }

    .margin-vertical-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }

    .margin-horizontal-30 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    .margin-top-30 {
        margin-top: 30px !important;
    }

    .margin-bottom-30 {
        margin-bottom: 30px !important;
    }

    .margin-left-30 {
        margin-left: 30px !important;
    }

    .margin-right-30 {
        margin-right: 30px !important;
    }

    .padding-30 {
        padding: 30px !important;
    }

    .padding-vertical-30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .padding-horizontal-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .padding-top-30 {
        padding-top: 30px !important;
    }

    .padding-bottom-30 {
        padding-bottom: 30px !important;
    }

    .padding-left-30 {
        padding-left: 30px !important;
    }

    .padding-right-30 {
        padding-right: 30px !important;
    }

    .margin-35 {
        margin: 35px !important;
    }

    .margin-vertical-35 {
        margin-top: 35px !important;
        margin-bottom: 35px !important;
    }

    .margin-horizontal-35 {
        margin-left: 35px !important;
        margin-right: 35px !important;
    }

    .margin-top-35 {
        margin-top: 35px !important;
    }

    .margin-bottom-35 {
        margin-bottom: 35px !important;
    }

    .margin-left-35 {
        margin-left: 35px !important;
    }

    .margin-right-35 {
        margin-right: 35px !important;
    }

    .padding-35 {
        padding: 35px !important;
    }

    .padding-vertical-35 {
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }

    .padding-horizontal-35 {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }

    .padding-top-35 {
        padding-top: 35px !important;
    }

    .padding-bottom-35 {
        padding-bottom: 35px !important;
    }

    .padding-left-35 {
        padding-left: 35px !important;
    }

    .padding-right-35 {
        padding-right: 35px !important;
    }

    .margin-40 {
        margin: 40px !important;
    }

    .margin-vertical-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    .margin-horizontal-40 {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .margin-top-40 {
        margin-top: 40px !important;
    }

    .margin-bottom-40 {
        margin-bottom: 40px !important;
    }

    .margin-left-40 {
        margin-left: 40px !important;
    }

    .margin-right-40 {
        margin-right: 40px !important;
    }

    .padding-40 {
        padding: 40px !important;
    }

    .padding-vertical-40 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .padding-horizontal-40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .padding-top-40 {
        padding-top: 40px !important;
    }

    .padding-bottom-40 {
        padding-bottom: 40px !important;
    }

    .padding-left-40 {
        padding-left: 40px !important;
    }

    .padding-right-40 {
        padding-right: 40px !important;
    }

    .margin-45 {
        margin: 45px !important;
    }

    .margin-vertical-45 {
        margin-top: 45px !important;
        margin-bottom: 45px !important;
    }

    .margin-horizontal-45 {
        margin-left: 45px !important;
        margin-right: 45px !important;
    }

    .margin-top-45 {
        margin-top: 45px !important;
    }

    .margin-bottom-45 {
        margin-bottom: 45px !important;
    }

    .margin-left-45 {
        margin-left: 45px !important;
    }

    .margin-right-45 {
        margin-right: 45px !important;
    }

    .padding-45 {
        padding: 45px !important;
    }

    .padding-vertical-45 {
        padding-top: 45px !important;
        padding-bottom: 45px !important;
    }

    .padding-horizontal-45 {
        padding-left: 45px !important;
        padding-right: 45px !important;
    }

    .padding-top-45 {
        padding-top: 45px !important;
    }

    .padding-bottom-45 {
        padding-bottom: 45px !important;
    }

    .padding-left-45 {
        padding-left: 45px !important;
    }

    .padding-right-45 {
        padding-right: 45px !important;
    }

    .margin-50 {
        margin: 50px !important;
    }

    .margin-vertical-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .margin-horizontal-50 {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    .margin-top-50 {
        margin-top: 50px !important;
    }

    .margin-bottom-50 {
        margin-bottom: 50px !important;
    }

    .margin-left-50 {
        margin-left: 50px !important;
    }

    .margin-right-50 {
        margin-right: 50px !important;
    }

    .padding-50 {
        padding: 50px !important;
    }

    .padding-vertical-50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .padding-horizontal-50 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .padding-top-50 {
        padding-top: 50px !important;
    }

    .padding-bottom-50 {
        padding-bottom: 50px !important;
    }

    .padding-left-50 {
        padding-left: 50px !important;
    }

    .padding-right-50 {
        padding-right: 50px !important;
    }

    .margin-55 {
        margin: 55px !important;
    }

    .margin-vertical-55 {
        margin-top: 55px !important;
        margin-bottom: 55px !important;
    }

    .margin-horizontal-55 {
        margin-left: 55px !important;
        margin-right: 55px !important;
    }

    .margin-top-55 {
        margin-top: 55px !important;
    }

    .margin-bottom-55 {
        margin-bottom: 55px !important;
    }

    .margin-left-55 {
        margin-left: 55px !important;
    }

    .margin-right-55 {
        margin-right: 55px !important;
    }

    .padding-55 {
        padding: 55px !important;
    }

    .padding-vertical-55 {
        padding-top: 55px !important;
        padding-bottom: 55px !important;
    }

    .padding-horizontal-55 {
        padding-left: 55px !important;
        padding-right: 55px !important;
    }

    .padding-top-55 {
        padding-top: 55px !important;
    }

    .padding-bottom-55 {
        padding-bottom: 55px !important;
    }

    .padding-left-55 {
        padding-left: 55px !important;
    }

    .padding-right-55 {
        padding-right: 55px !important;
    }

    .margin-60 {
        margin: 60px !important;
    }

    .margin-vertical-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }

    .margin-horizontal-60 {
        margin-left: 60px !important;
        margin-right: 60px !important;
    }

    .margin-top-60 {
        margin-top: 60px !important;
    }

    .margin-bottom-60 {
        margin-bottom: 60px !important;
    }

    .margin-left-60 {
        margin-left: 60px !important;
    }

    .margin-right-60 {
        margin-right: 60px !important;
    }

    .padding-60 {
        padding: 60px !important;
    }

    .padding-vertical-60 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .padding-horizontal-60 {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    .padding-top-60 {
        padding-top: 60px !important;
    }

    .padding-bottom-60 {
        padding-bottom: 60px !important;
    }

    .padding-left-60 {
        padding-left: 60px !important;
    }

    .padding-right-60 {
        padding-right: 60px !important;
    }

    .margin-65 {
        margin: 65px !important;
    }

    .margin-vertical-65 {
        margin-top: 65px !important;
        margin-bottom: 65px !important;
    }

    .margin-horizontal-65 {
        margin-left: 65px !important;
        margin-right: 65px !important;
    }

    .margin-top-65 {
        margin-top: 65px !important;
    }

    .margin-bottom-65 {
        margin-bottom: 65px !important;
    }

    .margin-left-65 {
        margin-left: 65px !important;
    }

    .margin-right-65 {
        margin-right: 65px !important;
    }

    .padding-65 {
        padding: 65px !important;
    }

    .padding-vertical-65 {
        padding-top: 65px !important;
        padding-bottom: 65px !important;
    }

    .padding-horizontal-65 {
        padding-left: 65px !important;
        padding-right: 65px !important;
    }

    .padding-top-65 {
        padding-top: 65px !important;
    }

    .padding-bottom-65 {
        padding-bottom: 65px !important;
    }

    .padding-left-65 {
        padding-left: 65px !important;
    }

    .padding-right-65 {
        padding-right: 65px !important;
    }

    .margin-70 {
        margin: 70px !important;
    }

    .margin-vertical-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }

    .margin-horizontal-70 {
        margin-left: 70px !important;
        margin-right: 70px !important;
    }

    .margin-top-70 {
        margin-top: 70px !important;
    }

    .margin-bottom-70 {
        margin-bottom: 70px !important;
    }

    .margin-left-70 {
        margin-left: 70px !important;
    }

    .margin-right-70 {
        margin-right: 70px !important;
    }

    .padding-70 {
        padding: 70px !important;
    }

    .padding-vertical-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .padding-horizontal-70 {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }

    .padding-top-70 {
        padding-top: 70px !important;
    }

    .padding-bottom-70 {
        padding-bottom: 70px !important;
    }

    .padding-left-70 {
        padding-left: 70px !important;
    }

    .padding-right-70 {
        padding-right: 70px !important;
    }

    .margin-75 {
        margin: 75px !important;
    }

    .margin-vertical-75 {
        margin-top: 75px !important;
        margin-bottom: 75px !important;
    }

    .margin-horizontal-75 {
        margin-left: 75px !important;
        margin-right: 75px !important;
    }

    .margin-top-75 {
        margin-top: 75px !important;
    }

    .margin-bottom-75 {
        margin-bottom: 75px !important;
    }

    .margin-left-75 {
        margin-left: 75px !important;
    }

    .margin-right-75 {
        margin-right: 75px !important;
    }

    .padding-75 {
        padding: 75px !important;
    }

    .padding-vertical-75 {
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }

    .padding-horizontal-75 {
        padding-left: 75px !important;
        padding-right: 75px !important;
    }

    .padding-top-75 {
        padding-top: 75px !important;
    }

    .padding-bottom-75 {
        padding-bottom: 75px !important;
    }

    .padding-left-75 {
        padding-left: 75px !important;
    }

    .padding-right-75 {
        padding-right: 75px !important;
    }

    .margin-80 {
        margin: 80px !important;
    }

    .margin-vertical-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }

    .margin-horizontal-80 {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

    .margin-top-80 {
        margin-top: 80px !important;
    }

    .margin-bottom-80 {
        margin-bottom: 80px !important;
    }

    .margin-left-80 {
        margin-left: 80px !important;
    }

    .margin-right-80 {
        margin-right: 80px !important;
    }

    .padding-80 {
        padding: 80px !important;
    }

    .padding-vertical-80 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

    .padding-horizontal-80 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .padding-top-80 {
        padding-top: 80px !important;
    }

    .padding-bottom-80 {
        padding-bottom: 80px !important;
    }

    .padding-left-80 {
        padding-left: 80px !important;
    }

    .padding-right-80 {
        padding-right: 80px !important;
    }

    .margin-85 {
        margin: 85px !important;
    }

    .margin-vertical-85 {
        margin-top: 85px !important;
        margin-bottom: 85px !important;
    }

    .margin-horizontal-85 {
        margin-left: 85px !important;
        margin-right: 85px !important;
    }

    .margin-top-85 {
        margin-top: 85px !important;
    }

    .margin-bottom-85 {
        margin-bottom: 85px !important;
    }

    .margin-left-85 {
        margin-left: 85px !important;
    }

    .margin-right-85 {
        margin-right: 85px !important;
    }

    .padding-85 {
        padding: 85px !important;
    }

    .padding-vertical-85 {
        padding-top: 85px !important;
        padding-bottom: 85px !important;
    }

    .padding-horizontal-85 {
        padding-left: 85px !important;
        padding-right: 85px !important;
    }

    .padding-top-85 {
        padding-top: 85px !important;
    }

    .padding-bottom-85 {
        padding-bottom: 85px !important;
    }

    .padding-left-85 {
        padding-left: 85px !important;
    }

    .padding-right-85 {
        padding-right: 85px !important;
    }

    .margin-90 {
        margin: 90px !important;
    }

    .margin-vertical-90 {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }

    .margin-horizontal-90 {
        margin-left: 90px !important;
        margin-right: 90px !important;
    }

    .margin-top-90 {
        margin-top: 90px !important;
    }

    .margin-bottom-90 {
        margin-bottom: 90px !important;
    }

    .margin-left-90 {
        margin-left: 90px !important;
    }

    .margin-right-90 {
        margin-right: 90px !important;
    }

    .padding-90 {
        padding: 90px !important;
    }

    .padding-vertical-90 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }

    .padding-horizontal-90 {
        padding-left: 90px !important;
        padding-right: 90px !important;
    }

    .padding-top-90 {
        padding-top: 90px !important;
    }

    .padding-bottom-90 {
        padding-bottom: 90px !important;
    }

    .padding-left-90 {
        padding-left: 90px !important;
    }

    .padding-right-90 {
        padding-right: 90px !important;
    }

    .margin-95 {
        margin: 95px !important;
    }

    .margin-vertical-95 {
        margin-top: 95px !important;
        margin-bottom: 95px !important;
    }

    .margin-horizontal-95 {
        margin-left: 95px !important;
        margin-right: 95px !important;
    }

    .margin-top-95 {
        margin-top: 95px !important;
    }

    .margin-bottom-95 {
        margin-bottom: 95px !important;
    }

    .margin-left-95 {
        margin-left: 95px !important;
    }

    .margin-right-95 {
        margin-right: 95px !important;
    }

    .padding-95 {
        padding: 95px !important;
    }

    .padding-vertical-95 {
        padding-top: 95px !important;
        padding-bottom: 95px !important;
    }

    .padding-horizontal-95 {
        padding-left: 95px !important;
        padding-right: 95px !important;
    }

    .padding-top-95 {
        padding-top: 95px !important;
    }

    .padding-bottom-95 {
        padding-bottom: 95px !important;
    }

    .padding-left-95 {
        padding-left: 95px !important;
    }

    .padding-right-95 {
        padding-right: 95px !important;
    }

    .margin-100 {
        margin: 100px !important;
    }

    .margin-vertical-100 {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }

    .margin-horizontal-100 {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }

    .margin-top-100 {
        margin-top: 100px !important;
    }

    .margin-bottom-100 {
        margin-bottom: 100px !important;
    }

    .margin-left-100 {
        margin-left: 100px !important;
    }

    .margin-right-100 {
        margin-right: 100px !important;
    }

    .padding-100 {
        padding: 100px !important;
    }

    .padding-vertical-100 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .padding-horizontal-100 {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    .padding-top-100 {
        padding-top: 100px !important;
    }

    .padding-bottom-100 {
        padding-bottom: 100px !important;
    }

    .padding-left-100 {
        padding-left: 100px !important;
    }

    .padding-right-100 {
        padding-right: 100px !important;
    }

    .btn-outline-red {
        background: #fff;
        color: $color_2;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 13px;
        line-height: normal;
        padding: 0px 15px;
        border-radius: 0px;
        border: 1px solid #3ba66b;
        text-align: center;
        margin-top: 10px;
        text-transform: uppercase;
    }

    .btn-red {
        background: #3ba66b;
        border: 1px solid #3ba66b;
        color: $color_4 !important;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 13px;
        line-height: 38px;
        height: 40px;
        padding: 0px 15px;
        border-radius: 0;
        text-align: center;
        margin-top: 7px !important;
        text-transform: uppercase;
    }
}

.productpage {
    @media (max-width: 767px) {
        section.bread-crumb {
            li {
                flex: none;
            }
        }
    }

    @media (max-width: 480px) {
        .bread-crumb {
            background-position-x: -190px;
        }

        .pagination {
            .page-link {
                width: 28px;
                height: 28px;
                line-height: 28px;
                margin: 0 2px;
                font-size: 12px;
            }
        }
    }

    @media (max-width: 991px) {
        .bread-crumb {
            .nd-main-title-breadcrumb {
                font-size: 18px;
                line-height: 1.3;
            }
        }
    }
}