.order-detail {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px 0;
}

.product__price {

    transition: all 0.15s;
    font-size: 15px;
    color: #eb3e32;
    font-weight: 700;
    justify-content: flex-end;

    .old-price {
        text-decoration: line-through;
        font-size: 13px;
        color: #999;
        margin-left: 5px;
        font-weight: normal;
    }
}

.order-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-footer {
    cursor: pointer;
}